<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 15px;">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="numeroDeSerie"><strong style="font-size: 20px;">Número de série:</strong></label
      >
      <input
        type="text"
        class="form-control"
        id="numeroDeSerie"
        formControlName="numeroDeSerie"
        placeholder="Número de série"
        maxlength="30"
        [ngClass]="{
          'is-invalid': submitted && hasError('numeroDeSerie')
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          hasError('numeroDeSerie') && hasError('numeroDeSerie')['required']
        "
      >
        Informe um número de série
      </div>
    </div>
  </div>
  <div class="card">
    <h3 class="card-header" style="background-color: rgb(20, 107, 207);">
      Placa mãe
    </h3>
    <div
      class="form-row card-body"
      style="background-color: rgb(234, 239, 245);"
    >
      <div class="col-md-4 mb-3">
        <label for="placaMaeMarca">Marca:</label>
            <input type="text" class="form-control" id="placaMaeMarca" formControlName="placaMaeMarca" placeholder="Marca da placa mãe" maxlength="15" [ngClass]="{
            'is-invalid': submitted && hasError('placaMaeMarca')
          }" />
            <div class="invalid-feedback" *ngIf="
            hasError('placaMaeMarca') && hasError('placaMaeMarca')['required']
          ">
                Informe a marca da placa mãe
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="placaMaeModelo">Modelo:</label>
            <input type="text" class="form-control" id="placaMaeModelo" formControlName="placaMaeModelo" placeholder="Modelo da placa mãe" maxlength="25" [ngClass]="{
            'is-invalid': submitted && hasError('placaMaeModelo')
          }" />
            <div class="invalid-feedback" *ngIf="
            hasError('placaMaeModelo') && hasError('placaMaeModelo')['required']
          ">
                Informe o modelo da placa mãe
            </div>
        </div>
    </div>
    </div>

    <div class="card" style="margin-top: 20px;">
        <h3 class="card-header" style="background-color: rgb(20, 107, 207);">
            Memória RAM
        </h3>
        <div class="form-row card-body" style="background-color: rgb(234, 239, 245);">
            <div class="col-md-4 mb-3">
                <label for="RAMquantidade">Quantidade:</label>
                <input type="number" class="form-control" id="RAMquantidade" formControlName="RAMquantidade" placeholder="Quantidade de memórias RAM" [ngClass]="{
            'is-invalid': submitted && hasError('RAMquantidade')
          }" />
                <div class="invalid-feedback" *ngIf="
            hasError('RAMquantidade') && hasError('RAMquantidade')['required']
          ">
                    Informe quantas memórias RAM existem no computador
                </div>
                <div class="invalid-feedback" *ngIf="
                hasError('RAMquantidade') && hasError('RAMquantidade')['max'] 
              ">
                    Número inválido!!!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="RAMcapacidadeTotal"> Capacidade Total(GB):</label>
                <input type="number" class="form-control" id="RAMcapacidadeTotal" formControlName="RAMcapacidadeTotal" placeholder="O Total das memórias RAM em GB" [ngClass]="{
            'is-invalid': submitted && hasError('RAMcapacidadeTotal')
          }" />
                <div class="invalid-feedback" *ngIf="
            hasError('RAMcapacidadeTotal') &&
            hasError('RAMcapacidadeTotal')['required']
          ">
                    Informe a capacidade total das memórias RAM
                </div>
                <div class="invalid-feedback" *ngIf="
                hasError('RAMcapacidadeTotal') && hasError('RAMcapacidadeTotal')['max'] 
              ">
                    Número inválido!!!
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top: 20px;">
        <h3 class="card-header" style="background-color: rgb(20, 107, 207);">HD</h3>
        <div class="form-row card-body" style="background-color: rgb(234, 239, 245);">
            <div class="col-md-4 mb-3">
                <label for="HDquantidade">Quantidade:</label>
                <input type="number" class="form-control" id="HDquantidade" formControlName="HDquantidade" placeholder="Quantidade de HDs" [ngClass]="{
            'is-invalid': submitted && hasError('HDquantidade')
          }" />
                <div class="invalid-feedback" *ngIf="
            hasError('HDquantidade') && hasError('HDquantidade')['required']
          ">
                    Informe a quantidade de HDs
                </div>
                <div class="invalid-feedback" *ngIf="
                hasError('HDquantidade') && hasError('HDquantidade')['max']
              ">
                    Número inválido!!!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="HDcapacidadeTotal"> Capacidade Total(TB):</label>
                <input type="number" class="form-control" id="HDcapacidadeTotal" formControlName="HDcapacidadeTotal" placeholder="Capcidade total dos HDs em TB" [ngClass]="{
            'is-invalid': submitted && hasError('HDcapacidadeTotal')
          }" />
                <div class="invalid-feedback" *ngIf="
            hasError('HDcapacidadeTotal') &&
            hasError('HDcapacidadeTotal')['required']
          ">
                    Informe a capacidade total dos HDs
                </div>
                <div class="invalid-feedback" *ngIf="
                hasError('HDcapacidadeTotal') && hasError('HDcapacidadeTotal')['max'] 
              ">
                    Número inválido!!!
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h3 class="card-header" style="background-color: rgb(20, 107, 207);">
            Processador
        </h3>
        <div class="form-row card-body" style="background-color: rgb(234, 239, 245);">
            <div class="col-md-4 mb-3">
                <label for=" processadorMarca">Marca:</label>
                <input type="text" class="form-control" id="processadorMarca" formControlName="processadorMarca" placeholder="Marca do processador" maxlength="15" [ngClass]="{
            'is-invalid': submitted && hasError('processadorMarca')
          }" />
                <div class="invalid-feedback" *ngIf="
            hasError('processadorMarca') &&
            hasError('processadorMarca')['required']
          ">
                    Informe a marca do processador
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="processadorVelocidade">Velocidade(GHz):</label>
                <input type="number" class="form-control" id="processadorVelocidade" formControlName="processadorVelocidade" placeholder="Velocidade do processador em GHz" [ngClass]="{
            'is-invalid': submitted && hasError('processadorVelocidade')
          }" />
                <div class="invalid-feedback" *ngIf="
            hasError('processadorVelocidade') &&
            hasError('processadorVelocidade')['required']
          ">
                    Informe a velocidade do processador
                </div>
                <div class="invalid-feedback" *ngIf="
                hasError('processadorVelocidade') && hasError('processadorVelocidade')['max'] 
              ">
                    Número inválido!!!
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h3 class="card-header" style="background-color: rgb(20, 107, 207);">
            Fonte
        </h3>
        <div class="form-row card-body" style="background-color: rgb(234, 239, 245);">
            <div class="col-md-4 mb-3">
                <label for="fonteMarca">Marca:</label>
                <input type="text" class="form-control" id="fonteMarca" formControlName="fonteMarca" placeholder="Marca da fonte" maxlength="15" [ngClass]="{
            'is-invalid': submitted && hasError('fonteMarca')
          }" />
                <div class="invalid-feedback" *ngIf="hasError('fonteMarca') && hasError('fonteMarca')['required']">
                    Informe a marca da fonte
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="fonteModelo">Modelo:</label>
                <input type="text" class="form-control" id="fonteModelo" formControlName="fonteModelo" placeholder="Modelo da fonte" maxlength="25" [ngClass]="{
            'is-invalid': submitted && hasError('fonteModelo')
          }" />
                <div class="invalid-feedback" *ngIf="hasError('fonteModelo') && hasError('fonteModelo')['required']">
                    Informe o modelo da fonte
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px; margin-bottom: 50px;">
        <button type="sumit" class="btn btn-primary" (click)="onSubmit()">
      <div *ngIf="!updatedFormulario">Adicionar novo computador</div>
      <div *ngIf="updatedFormulario">Salvar</div>
    </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
      Cancelar
    </button>

        <a href="computadores" *ngIf="!updatedFormulario">
            <button type="button" class="btn btn-secondary">
        Voltar
      </button>
        </a>
    </div>
</form>