<div class="card" style="width: max-content;">
    <div class="card-header">
        <div class="float-left">
            <button type="button" class="btn btn-success" [routerLink]="['novoComputador']">Novo Computador</button>
            <button type="button" class="btn btn-primary" (click)="onRefresh()">Atualizar</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered" *ngIf="(computadores$ | async) as computadores; else loading">
            <thead>
                <tr style="font-size:17px">
                    <th>Numero de Série</th>
                    <th>Placa mãe</th>
                    <th>Memória RAM</th>
                    <th>HD</th>
                    <th>Processador</th>
                    <th>Fonte</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let computador of computadores" style="font-size:15px">
                    <td>{{ computador.numeroDeSerie }}</td>
                    <td><strong>Marca:</strong> {{ computador.placaMaeMarca }}<br> <strong>Modelo:</strong> {{ computador.placaMaeModelo }} </td>
                    <td><strong>Quantidade:</strong> {{computador.RAMquantidade}}<br> <strong>Capacidade Total:</strong> {{computador.RAMcapacidadeTotal}}GB </td>
                    <td><strong>Quantidade:</strong> {{computador.HDquantidade}}<br> <strong>Capacidade Total:</strong> {{computador.HDcapacidadeTotal}} TB</td>
                    <td><strong>Marca:</strong> {{ computador.processadorMarca }}<br> <strong>Velocidade:</strong> {{ computador.processadorVelocidade }}GHz</td>
                    <td><strong>Marca:</strong> {{ computador.fonteMarca }}<br> <strong>Modelo:</strong> {{ computador.fonteModelo }}</td>
                    <td>
                        <span class="float-right">
                    <button class="btn btn-outline-warning mb-1 btn-sm" >
                      Modificar
                    </button>
      
                    <button class="btn btn-outline-danger mb-1 btn-sm" >
                      Remover
                    </button>
                </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div *ngIf="error$ | async; else loadingNoError" class="alert-danger">
                Falha ao carregar os registros dos computadores, tente novamente mais tarde...
            </div>
            <ng-template #loadingNoError>
                <span>Carregando Computadores...</span>
            </ng-template>
        </ng-template>
    </div>
</div>